.Drop{
width: fit-content;
     
}

table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
   }
   
   td, th {
     border: 1px solid #dddddd;
     text-align: left;
     padding: 8px;
   }
   
   tr:nth-child(even) {
     background-color: #dddddd;
   }
   .Page{
        float: right;
   }
   .search{
        width: fit-content;
   }
 .noofpages{
  float: right;
 }
 .header{
  text-align:center;
  background-color: blueviolet;
 }
 .img{
  width: 50px;
  height: 50px;
 }
 .img1{
  width: 50px;
  height: 50px;
  }